aioschedule==0.5.2
aiosqlite==0.17.0
certifi==2021.5.30
chardet==4.0.0
gevent==21.1.2
greenlet==1.1.0
grequests==0.6.0
idna==2.10
importlib-metadata==4.5.0
loguru==0.5.3
python-dotenv==0.18.0
requests==2.25.1
schedule==1.1.0
SQLAlchemy==1.4.19
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
