@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght$300;400;700;800&display=swap');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.co_map_text {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

.co_map_smalltext {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.co_map_mediumtext {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

.co_map_largetext {
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
}


.co_map_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.co_map_subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: large;
}

.co_map_white {
  color: white;
}

.co_map_smallsubtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: medium;
}

.circle_around_text {
  padding: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  align-self: center;
  alignment: center;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

.ambassadors_parent {
  display: flex;
  justify-content: center;
}

.info_ambassadors {
  flex: 1;
  alignment: center;
  align-self: center;
  align-content: center;
  display: flex;
  flex-direction: column;

}

.bounding_element {
  width: calc(100% - 200px);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media (max-width: 1000px) {
    width: calc(100% - 40px);
  }
}

.info_community {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ambassador_community {
  text-align: center;
  align-content: center;
  alignment: center;
  width: 100%;
  min-width: 400px;
  margin-top: 50px;
}

.center {
  alignment: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
}

.ambassador_form {
  width: 80%;
  min-width: 300px;
}

.co_map_title_parent {
  text-align: center;
}

.ambassador_form_div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit_ambassador_form {
  alignment: center;
}

.submit_ambassador_parent {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.img-mobile-testing {
  background: #000;
}


.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 610px) {
    display: block;
  }

  &__amb {
    min-width: 300px;
    margin-right: 30px;

    & .img {
      object-fit: cover;
    }
  }
}

.about {
  &__title {
    font-size: 36px;
    margin: 0;
  }

  &__subtitle {
    font-size: 28px;
    font-weight: normal;
  }

  &__place {
    font-size: 18px;
  }
}

.dots {
  position: relative;
  bottom: 50px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;

  li {
    margin-right: 15px !important;
  }

  li button {
    height: 5px !important;
    width: 30px !important;
    background-color: #000 !important;
  }

  li.slick-active button {
    background-color: #B1D4DE !important;
  }

}


// Viktoria's components example

.container {
  width: 70%;
  margin: 0 auto;
}

// How to use map

#HowToUseMap {
  display: flex;
  gap: 50px;
  flex-direction: column;

  max-width: 1200px;

  margin-bottom: 20px;

  .map-instruction-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .description-block {
      color: #ffffff;
      width: 100%;
      align-self: center;
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      margin-right: 30px;
      
      padding: 50px;
  
      
      & > div {
        padding: 10px 0;
      }
      
      & .co_map_subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 33px;
        text-align: center;
      }
      
      & .description {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
      }
    }
    
    &.right {
      flex-direction: row-reverse;
  
      & .description-block {
        margin-left: 30px;
        margin-right: 0;
      }
  
    }
    
    & .image-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 400px;
    }
    
    @media (max-width: 1000px) {
      & .image-block {
        width: auto;
      }

      & .co_map_subtitle {
        font-size: 28px;
      }

      & .description {
        font-size: 22px;
      }
    }

    @media (max-width: 768px) {

      & .description-block {
        
        padding: 35px;
        
        & .co_map_subtitle {
          font-size: 26px;
        }
  
        & .description {
          font-size: 20px;
        }
  
      }
    }
    
    @media (max-width: 480px) {
      & .image-block {
        display: none;
      }
  
      &.right {
        & .description-block {
          margin-left: 0;
        }
      }
  
      & .description-block {
        padding: 20px;
        margin-right: 0;
  
        & .co_map_subtitle {
          font-size: 20px;
        }
  
        & .description {
          font-size: 15px;
        }
      }
    }

  }
  
  @media (max-width: 768px) {
    gap: 30px;
  }
  
  @media (max-width: 480px) {
    gap: 20px;
  }

}

// Ambassador Program

.ambassador-program {

  & .co_map_title {
    margin: 20px 0;
  }

  & .main-block {

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .rounded-block {
      width: 80%;
      border: 1px solid #1A1A1A;
      border-radius: 15px;
      padding: 15px 30px;
    }

    & .btn {
      background-color: #A1EBEE;
      border: 1px solid #1A1A1A;
      border-radius: 10px;
      padding: 7px 15px;
      cursor: pointer;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: #8ee0e5;
      }
    }
  }
}

// Why Ambassador

.why-ambassador-container {
  margin: 20px 0;

  & > div {
    margin: 20px 0;
  }
}

.why-ambassador-block {
  & .huge {
    font-size: 60px;
    margin: 0 10px 0 0;
  }
}

.reasons-ambassador-block {
  display: flex;
  align-items: center;
}

.selection {
  width: 100% !important;
}

//// ChooseDirectionSearch

.choose-direction-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.direction-tag-icon {
  width: 62px;
  height: 62px;
}

#choose-direction-container {
  width: 100%;
  background: #ffffff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .item-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 0 100px 5% 100px;
    margin-top: 50px;
    max-width: 100%;
    width: 100%;
    
    .item-direction {
      cursor: pointer;
      text-align: center;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      
      .item-direction-text {
        height: 100%;
      } 
    }
  }
  
  @media (max-width: 1000px) {
    .item-container {
      padding: 0 20px 5% 20px;
      gap: 25px;

      .item-direction-text {
        font-size: 16px;
      }
    }

    img {
      width: 48px;
      height: 48px;
    }
  }

  @media (max-width: 768px) {
    .item-container {
      flex-wrap: wrap;

      .item-direction {
        flex: 1 0 27%;
      }
    }
  }

  @media (max-width: 480px) {
    .item-direction {
      flex-basis: calc(50% - (25px / 2)) !important;
    }
  }

  @media (max-width: 360px) {
    .item-direction {
      max-width: calc(50% - 13px);
    }
  }
}

//// HeaderCardContainer

#header-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5% 12% 0 12%;
  margin-bottom: 15vh;
  width: 100%;
  margin-top: -15%;
}

@media (max-width: 1000px) {
  #header-card-container {
    margin-bottom: 10vh;
  }
}


#header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px #2d9bf0 solid;
  background: #ffffff;
  height: 23vw;
  width: 15vw;
  border-radius: 60px;
  padding: 40px 15px 30px 15px;
  text-align: center;

  .title {
    font-weight: 700;
    font-size: 1.2vw;
    height: 20%;
    margin-bottom: 10%;
  }

  .text {
    font-weight: 400;
    font-size: 1.2vw;
    height: 60%;
  }

  .button {
    width: 70%;
    background: #414bb2;
    color: white;
    height: 3.5vw;
    font-size: 1.2vw;
    border-radius: 10px;
  }
}

@media (max-width: 1000px) {
  #header-card {
    width: 35vw;
    height: 60vw;
    margin: 10px 0 10px 0;
    padding: 15px 15px 10px 15px;
    border-radius: 40px;

    .title {
      font-size: 4vw;
      height: 15%;
    }

    .text {
      font-weight: 400;
      font-size: 3.4vw;
      line-height: 20px;
      height: 60%;
    }

    .button {
      width: 90%;
      background: #414bb2;
      color: white;
      height: 4vh;
      font-size: 2.1vw;
      border-radius: 10px;
    }
  }
}

@media (max-width: 400px) {
  #header-card {
    .title {
      font-size: 3.4vw;
      height: 15%;
    }

    .text {
      font-size: 3vw;
    }
  }
}

@media (max-width: 600px) {
  #header-card-container {
    margin-left: 40px;
  }
}

@media (max-width: 600px) and (min-width: 530px) {
  #header-card-container {
    margin-left: 55px;
  }
}

.instructions {

  &__container {
    max-width: 1100px;
    margin: 0 auto;
  }

  h1 {
    color: #AB366A;
  }

  h2 {
    padding-top: 20px;
    color: #637984;
    font-size: 28px;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #637984;
  }

  &__btn-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .btn {
    border: none;
    height: 60px;
    padding: 0 30px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;

    a {
      color: #ffffff;
    }

    &__purple {
      background-color: #AB366A;
    }

    &__gray {
      background-color: #637984;
    }
  }

  &__img-map2 {
    margin: 0 0 7px 7px !important;
  }

  &__img-block > ol > div {
    float: right;
  }

  ol {
    padding-top: 20px;

    li {
      padding-bottom: 15px;
    }
  }

  a {
    color: #AB366A;
    white-space: nowrap;
  }

  &__mark-list {
    padding-top: 20px;
  }

  &__for-users > p > div {
    float: right;
  }

  &__for-users {
    ol {
      list-style: none;
    }
  }

  &__char {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__char-img {
      margin: 0 !important;
      max-width: 400px !important;
      max-height: 250px !important;
    }
  }

  &__eco {
    display: flex;
    justify-content: center;
  }
}

.template {
  &__container {
    max-width: 1100px;
    margin: 0 auto;
  }

  h1 {
    color: #AB366A;
  }

  a {
    color: #AB366A;
    white-space: nowrap;
  }
}