html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#map{
  position: relative;
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}


.ant-collapse.no-pad-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.ant-collapse.no-pad-collapse > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

/*.no-pad-collapse-panel > .ant-collapse-content > .ant-collapse-content-box {*/
/*  padding: 0;*/
/*}*/