html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#map{
  position: relative;
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}


.ant-collapse.no-pad-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.ant-collapse.no-pad-collapse > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

/*.no-pad-collapse-panel > .ant-collapse-content > .ant-collapse-content-box {*/
/*  padding: 0;*/
/*}*/

/*todo: separate each style to split files*/

.kvm-sider > div > div {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ant-layout-sider-children {
  padding: 4px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-layout-sider-children > div {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ant-list > .ant-spin-nested-loading {
  height: 100%;
}

.ant-list > .ant-spin-nested-loading > .ant-spin-container {
  height: 100%;
}

.entity-image-container {
  width: 100%;
  height: 32vh;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*the 5th level of ant pallet*/
.diversity {
  color: #bae637 !important;
}

.renewable {
  color: #ffec3d !important;
}

.fairness {
  color: #f759ab !important;
}

.humanity {
  color: #9254de !important;
}

.solidarity {
  color: #36cfc9 !important;
}

.transparency {
  color: #597ef7 !important;
}